.card-wrapper {
  width: 395px;
  min-height: 550px;
  background-color: #1c1c1c;
  flex-shrink: 0;
  transition: all 1s ease-in-out;
}

.card-wrapper > .card-content > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card-wrapper > .card-content {
  color: #fff;
  text-align: center;
}

.card-details {
  text-align: start;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.card-details > h3 {
  font-size: 1.9rem;
  color: #d4af37;
  font-family: var(--font-playfair);
}

.card-details > p {
  font-size: 1.25rem;
  font-family: var(--font-lato);
}

.card-details > h4 {
  font-size: 2.25rem;
  font-family: var(--font-lato);
}

@media (max-width: 1024px) {
  .card-wrapper {
    width: 350px;
    min-height: 500px;
    background-color: #1c1c1c;
    flex-shrink: 0;
  }

  .card-details > h3 {
    font-size: 1.5rem;
    color: #d4af37;
    font-family: var(--font-playfair);
  }

  .card-details > p {
    font-size: 1.15rem;
    font-family: var(--font-lato);
  }

  .card-details > h4 {
    font-size: 2.15rem;
    font-family: var(--font-lato);
  }
}

@media (max-width: 768px) {
  .card-wrapper {
    width: 300px;
    min-height: 450px;
    background-color: #1c1c1c;
    flex-shrink: 0;
  }

  .card-details > h3 {
    font-size: 1.3rem;
    color: #d4af37;
    font-family: var(--font-playfair);
  }

  .card-details > p {
    font-size: 1rem;
    font-family: var(--font-lato);
  }

  .card-details > h4 {
    font-size: 2rem;
    font-family: var(--font-lato);
  }
}

@media (max-width: 426px) {
  .card-wrapper {
    width: 100%;
    min-height: 400px;
    background-color: #1c1c1c;
    flex-shrink: 0;
  }

  .card-details {
    text-align: start;
  }
  .card-details > h3 {
    font-size: 1.3rem;
    color: #d4af37;
    font-family: var(--font-playfair);
  }

  .card-details > p {
    font-size: 1rem;
    font-family: var(--font-lato);
  }

  .card-details > h4 {
    font-size: 2rem;
    font-family: var(--font-lato);
  }
}
