button.Outlined-button {
  font-family: var(--font-lato);
  border-radius: 5px;
  border: 1px solid #d4af37;
  font-size: 1rem;
  color: #d4af37;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px 20px;
  transition: all 0.5s ease-in-out;
}

button.Outlined-button:hover {
  color: #fff;
  background-color: #d4af37;
  animation: hover-animation 0.3s ease-in-out;
}

@keyframes hover-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1024px) {
  button.Outlined-button {
    padding: 7px 15px;
  }
}
